@import "../../../scss/index.scss";

.preview-post {
  // height: 100%;
  height: 350px;
  width: 90%;
  padding-bottom: 60px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: white;
  box-shadow: 4px 4px 10px 0px rgba(90, 90, 90, 0.75);
  .active {
    color: #f2711c;
    margin-top: 10px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &_image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  &_tablet {
    height: 250px;
    width: 90%;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(90, 90, 90, 0.75);

    .active {
      color: #f2711c;
      margin-top: 10px;
    }
  }

  &_movil {
    height: 150px;
    width: 90%;

    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 7px 0px rgba(90, 90, 90, 0.75);

    .active {
      color: #f2711c;
      margin-top: 5px;
    }
  }
}
