@import "../../../../scss/index.scss";

.actions {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  i {
    font-size: 20px !important;

    &:hover {
      cursor: pointer;
    }
  }


}
