@import "../../../scss/index.scss";

.profile {
  margin: 20px !important;

  &_left {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .ui.image.avatar {
      width: 170px;
      height: 170px;

      &:hover {
        cursor: pointer;
      }
    }

    &__movil {
      .ui.image.avatar {
        width: 80px;
        height: 80px;
      }

      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  &_right {
    &__movil {
      .other {
        .name {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: bold;
        }

        .owner,
        .breed,
        .age {
          font-size: 12px;
          margin-top: 10px;

          span {
            font-weight: bold;
          }
        }

        .description {
          font-style: italic;
          font-size: 14px;
        }
      }
    }

    .other {
      .name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: bold;
      }

      .owner,
      .breed,
      .age {
        font-size: 12px;
        margin-top: 10px;

        span {
          font-weight: bold;
        }
      }

      .description {
        font-style: italic;
        font-size: 14px;
      }
    }
  }
}

.profile-movil {
  margin: 5px !important;

  .followers {
    font-size: 12px;
    margin-left: 10px;
  }
}
